.application-interview-management-page {
  background: #f4f7f9;
}

.application-interview-management-page table {
  background: #ffffff;
}

.application-interview-management-page select {
  background: #ffffff;
}

