.login-page {
  min-height: 100vh;
  background-color: #f7fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7fafc;
}

.login-page .chakra-stack {
  width: 100%;
}
