.nav-bar {
  background-color: #319795;
  color: white;
.navbar {
  gap: 1rem;
}

.nav-link {
  margin-right: 1rem;
  font-weight: 500;
}

.nav-link.active {
  text-decoration: underline;
.nav-bar {
  background-color: #319795;
}
