.volunteering-dashboard-page {
  background-color: #f9f9f9;
}

.volunteering-dashboard-page .stats-grid .chakra-stat {
  background-color: #fff;
}

.volunteering-dashboard-page .shortcut-buttons {
  margin-top: 1rem;
}

